@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom Sizes */
  .margin-left-20 {
    margin-left: 20%;
  }
  .width-70 {
    width: 70%;
  }
  
  /* Custom Colors */
  .bg-primary-gray {
    background-color: #191B20;
  }
  .bg-secondary-gray {
    background-color: #353945;
  }
  .bg-light-gray {
    background-color: #4D5263;
  }
  .bg-dim-gray {
    background-color: #121416;
  }

  /* Scrollbar styles */
  /* width */
  .styled-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  .styled-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .styled-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  .styled-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}